<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie &amp; Book Scraper</title>
    <link
      href="{{ url_for('static',path='/css/base.css') }}"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', path='js/htmx.min.js') }}"
    ></script>
  </head>
  <body>
    <main>
      <h1>
        <a href="/{{ api_key }}/">Book &amp; Movie Scraper</a>
      </h1>
      <div id="search">{% include 'search.html' %}</div>
      <div id="result-section">
        <div id="result" class="result-div p-4 w-full">
          {% include 'result.html' %}
        </div>
        <div class="indicator-div">
          <img
            class="htmx-indicator"
            src="{{ url_for('static',path='/img/spinner.svg') }}"
          />
        </div>
      </div>
    </main>
  </body>
</html>
